<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Blockchain Client</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/custom.css" rel="stylesheet">

  </head>

  <body onload="checkCookie()">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Blockchain Client</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/index">My Wallet
              </a>
            </li>
            <div id="generate_license_menu" style="display: none;">
              <li class="nav-item">
                <a class="nav-link" href="/make/transaction">Generate License</a>
                <span class="sr-only">(current)</span>
              </li>
            </div>
            <li class="nav-item">
              <a class="nav-link" href="/transfer/transaction">Transfer License</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/view/licenses">View Licenses</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Account
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/reset_password">Reset password</a>
                <a class="dropdown-item" onClick="eraseCookie();" href="/make/transaction" >Change node URL</a>
                <a class="dropdown-item" href="/">Log out</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>


    <div class="container">
      <div class="row">
        <div class="col-lg-12">

          <div class="card-body">
            <h4 class="card-title">Create a license</h4>
            <p class="card-text">Enter the required details</p>
          </div>

        </div>
      </div>
    </div>

    <br>


    <div class="container alert alert-secondary">
    <form id="generate_license_form">

      <div class="row" style="display: none;">
        <label class="col-sm-2">Username:</label>
        <div class="col-sm-10">
          <input type="text" name="username" id="username" rows="2" class="form-control" >

        </div>
      </div>

        <div class="row">
          <label class="col-sm-2">Product Name:</label>
          <div class="col-sm-10">
            <input type="text" name="product_name" id="product_name" rows="2" class="form-control">
          </div>
        </div>

        <br>
        <div class="row">
            <label class="col-sm-2">Duration:</label>
            <div class="col-sm-10">
              <input type="number" name="duration" id="duration" rows="2" class="form-control">
            </div>
          </div>

        <br>
        
        <div class="row">
          <label class="col-sm-2">Valid countries (separated by comma):</label>
          <div class="col-sm-10">
            <input type="text" name="valid_countries" id="valid_countries" rows="15" class="form-control">
          </div>
        </div>

        <br>         
        
        <div class="row">
          <label class="col-sm-2">License type: </label>
          <div class="col-sm-10">
            <select name="license_type" id="license_type">
              <option value="evaluation">Evaluation</option>
              <option value="full">Full</option>
            </select>
          </div>
        </div>

        <br>         
        
        <div class="row">
          <label class="col-sm-2">Password:</label>
          <div class="col-sm-10">
            <input type="password" name="password" id="password" rows="2" class="form-control" >
          </div>
        </div>

        <br>    
        
        <div class="row">
          <div class="col-lg-12 text-center">
            <input type="button" id="generate_license" class="btn btn-primary btn-lg" value="Generate License">
          </div>
        </div>

        <br>

    </form>
    </div>

    <!-- Modal -->
    <div class="modal modal-alert fade" id="basicModalGenerate" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
      <div class="modal-dialog">

        <div class="modal-content">

          <div class="modal-header">
            <div class="modal-title col-md-10">Your license has been registered!</div>
            <button type="button" class="close col-md-2" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>

          <div class="modal-body">

            <form id="confirmation_generate_license_form">

                <div class="row">
                    <label class="col-sm-12">Product Name:</label>
                    <div class="col-sm-12">
                      <input type="text" name="confirmation_product_name" id="confirmation_product_name" rows="5" class="form-control" readonly>
                    </div>
                  </div>

                <div class="row">
                  <label class="col-sm-12">License type:</label>
                  <div class="col-sm-12">
                    <input type="text" name="confirmation_license_type" id="confirmation_license_type" rows="5" class="form-control" readonly>
                  </div>
                </div>

                <div class="row">
                  <label class="col-sm-12">License ID:</label>
                  <div class="col-sm-12">
                    <input type="text" name="license_id" id="license_id" rows="5" class="form-control" readonly>
                  </div>
                </div>

                <div class="row">
                  <label class="col-sm-12">Contract:</label>
                  <div class="col-sm-10">
                    <input type="text" name="confirmation_contract" id="confirmation_contract" rows="5" class="form-control" readonly>
                  </div>
                </div>

            </form>

          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-success" data-dismiss="modal">Ok</button>
          </div>

        </div>

      </div>
    </div>

    <!-- Alert Message for successful transaction -->
    <div class="modal modal-alert fade" id="success_transaction_modal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">

          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>

          <div class="modal-body">
            <div class="alert alert-success" role="alert">
              <h4 class="alert-heading">Successful Transaction!</h4>
              <p>You successfully completed your transaction. It will be added to the next block.</p>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" id="button_confirm_transaction" class="btn btn-success" data-dismiss="modal">OK</button>
          </div>

        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal modal-alert fade" id="basicModalNodeURL" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
        <div class="modal-dialog">

          <div class="modal-content">

            <div class="modal-header">
              <div class="modal-title col-md-10">Please specify the node URL:</div>
              <button type="button" class="close col-md-2" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>

            <div class="modal-body">

              <div class="row">
                <label class="col-sm-12">Blockchain Node URL:</label>
                <div class="col-sm-12">
                  <input type="text" name="node_url" id="node_url" rows="2" class="form-control" value="http://127.0.0.1:5000">
                </div>
              </div>

            </div>

            <div class="modal-footer">
                <button type="button" id="check_connection" class="btn btn-success" >Check connection</button>
              </div>

          </div>

        </div>
      </div>

    <!-- Bootstrap core JavaScript -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


    <script>

      $(function () {
          $("#generate_license").click(function () {

            document.getElementById("username").value = readCookie("username");

            var node_url=readCookie("node_url");

            $.ajax({
              url: node_url + "/generate/license",
              type: "POST",
              dataType : 'json',
              data: $('#generate_license_form').serialize(),
              success: function(response){

                document.getElementById("license_id").value = response["license_id"];
                document.getElementById("confirmation_license_type").value = document.getElementById("license_type").value;
                document.getElementById("confirmation_product_name").value = document.getElementById("product_name").value;
                document.getElementById("confirmation_contract").value = response["contract"];

                document.getElementById("product_name").value = "";
                document.getElementById("password").value = "";
                document.getElementById("duration").value = 0;

                $("#basicModalGenerate").modal('show');
                
              },
              error: function(error){
                console.log(error);
              }
            });

          });
      });

      function checkCookie() {
        var user=readCookie("user_id");
        if (user === null) {
          document.location.href="/";
        }

        var node_url=readCookie("node_url");
        if (node_url === null) {
          $("#basicModalNodeURL").modal('show');
        }
        document.getElementById("node_url").value = node_url;

        var role=readCookie("role");
        if (role === null) {
          document.location.href="/";
        }
        if (role === "producer") {
          document.getElementById("generate_license_menu").style.display = "block";
        }
      }

      $('#basicModalNodeURL').on('hide.bs.modal', function() {
          document.cookie = createCookie("node_url",document.getElementById("node_url").value);
          location.reload(); 
      });

      $(function () {
          $("#check_connection").click(function () {
            UrlExists(document.getElementById("node_url").value, function(status) {
              if(status != 200) {
                alert("The selected node is not reachable.");
                document.getElementById("node_url").value="";
                location.reload();
                return;
              }  
              else{
                alert("Connection succeded.");
              }              
              });
          });
      });

      function readCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for(var i=0;i < ca.length;i++) {
            var c = ca[i];
            while (c.charAt(0)==' ') {
                c = c.substring(1,c.length);
            }
            if (c.indexOf(nameEQ) == 0) {
                return c.substring(nameEQ.length,c.length);
            }
        }
      return null;
      }

      function createCookie(name,value,days) {
        if (days) {
            var date = new Date();
            date.setTime(date.getTime() + (days * 24 * 60 * 60 *1000));
            var expires = "; expires=" + date.toGMTString();
        } else {
            var expires = "";
        }
        document.cookie = name + "=" + value + expires + "; path=/";
      }

      function eraseCookie(){
          createCookie("node_url","",-1);
        }

        function UrlExists(url, cb){
            jQuery.ajax({
                url:      url,
                dataType: 'text',
                type:     'GET',
                complete:  function(xhr){
                    if(typeof cb === 'function')
                       cb.apply(this, [xhr.status]);
                }
            });
        }
    </script>


  </body>

</html>
