<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Blockchain Client</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/custom.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Blockchain Client</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Wallet Generator
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/make/transaction">Make Transaction</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/view/transactions">View Transactions</a>
            </li>            
            <li class="nav-item">
              <a class="nav-link" href="/make/contract">Make Contract</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

   <!-- Alert Message for successful login -->
      <div class="modal modal-alert fade" id="success_login" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">

            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>

            <div class="modal-body">
              <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">Successful login!</h4>
                <p>You successfully logged in.</p>
              </div>
            </div>

            <div class="modal-footer">
              <button type="button" id="button_confirm_login" class="btn btn-success" data-dismiss="modal">OK</button>
            </div>

          </div>
        </div>
      </div>


   <!-- Modal -->
      <div class="modal-dialog" >

        <div class="modal-content">

            <div class="modal-body">

            <form id="register_user_form">

                <div class="row">
                  <label class="col-sm-12">E-mail:</label>
                  <div class="col-sm-12">
                    <input type="text" name="email" id="email" rows="2" class="form-control" >

                  </div>
                </div>

                <div class="row">
                  <label class="col-sm-12">Password:</label>
                  <div class="col-sm-12">
                    <input type="password" name="password" id="password" rows="2" class="form-control" >
                  </div>
                </div>
               
            </form>

          </div>

          <div class="modal-footer">
            <button type="button" id="button_cancel"class="btn btn-danger"> Cancel </button>
            <button type="button" id="button_register" class="btn btn-success">Register</button>
          </div>

        </div>

      </div>




    <!-- Bootstrap core JavaScript -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


    <script>

    $(function () {
          $("#button_register").click(function () {

            $.ajax({
              url: "/register/user",
              type: "POST",
              dataType : 'json',
              data: $('#register_user_form').serialize(),
              success: function(response){

                document.getElementById("email").value = response["userid"];
                document.location.href="/";
                document.cookie = "userid="+response["userid"];
                document.getElementById("success_login").showModal(); 
                
              },
              error: function(error){
                console.log(error);
              }
            });

          });
      });


    </script>



  </body>

</html>
