<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Blockchain Client</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/custom.css" rel="stylesheet">

  </head>

  <body>

     <!-- Alert Message for successful login -->
        <div class="modal modal-alert fade" id="success_login" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">

              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              </div>

              <div class="modal-body">
                <div class="alert alert-success" role="alert">
                  <h4 class="alert-heading">Successful login!</h4>
                  <p>You successfully logged in.</p>
                </div>
              </div>

              <div class="modal-footer">
                <button type="button" id="button_confirm_login" class="btn btn-success" data-dismiss="modal">OK</button>
              </div>

            </div>
          </div>
        </div>

   <!-- Modal -->
      <div class="modal-dialog" >

        <div class="modal-content">

            <div class="modal-body">

            <form id="register_user_form">

                <div class="row">
                  <label class="col-sm-12">E-mail:</label>
                  <div class="col-sm-12">
                    <input type="text" name="email" id="email" rows="2" class="form-control" >

                  </div>
                </div>

                <div class="row">
                  <label class="col-sm-12">Username:</label>
                  <div class="col-sm-12">
                    <input type="text" name="username" id="username" rows="2" class="form-control" >
                  </div>
                </div>


                <div class="row">
                  <label class="col-sm-12">Country:</label>
                  <div class="col-sm-12">
                    <input type="text" name="country" id="country" rows="2" class="form-control" >
                  </div>
                </div>

                <div class="row">
                  <label class="col-sm-12">Password:</label>
                  <div class="col-sm-12">
                    <input type="password" name="password" id="password" rows="2" class="form-control" >
                  </div>
                </div>


                <div class="row">
                  <label class="col-sm-12">Re-enter password:</label>
                  <div class="col-sm-12">
                    <input type="password" name="password2" id="password2" rows="2" class="form-control" >
                  </div>
                </div>
               
            </form>

          </div>

          <div class="modal-footer">
            <button type="button" id="button_cancel"class="btn btn-danger"> <a href="/">Cancel </a></button>
            <button type="button" id="button_register" class="btn btn-success">Register</button>
          </div>

        </div>

      </div>




    <!-- Bootstrap core JavaScript -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


    <script>

    $(function () {
          $("#button_register").click(function () {

            if(document.getElementById("password").value === document.getElementById("password2").value &&
              document.getElementById("email").value !== "" && 
              document.getElementById("username").value !== "" &&
              document.getElementById("password").value !== "" ){
            
              $.ajax({
                url: "/register/user",
                type: "POST",
                dataType : 'json',
                data: $('#register_user_form').serialize(),
                success: function(response){
                  var account_state = response["account"];

                  if(account_state === "exists"){
                    alert("Account exists, please select a different username");
                    document.getElementById("password").value ="";
                    document.getElementById("password2").value ="";
                  }else{
                  document.location.href="/";
                  document.cookie = "username="+response["username"];
                  document.getElementById("success_login").showModal();
                  }                  
                },
                error: function(error){
                  console.log(error);
                }
              });
            }
            else {
              alert("Passwords do not match or you did not specify all the information.");
            }
          });
      });

    </script>



  </body>

</html>
