<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Blockchain Client</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/custom.css" rel="stylesheet">

  </head>

  <body onload="checkCookie()">

     <!-- Alert Message for successful login -->
        <div class="modal modal-alert fade" id="success_login" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">

              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              </div>

              <div class="modal-body">
                <div class="alert alert-success" role="alert">
                  <h4 class="alert-heading">Password reset</h4>
                  <p>You successfully changed you password!</p>
                </div>
              </div>

              <div class="modal-footer">
                <button type="button" id="button_confirm_login" class="btn btn-success" data-dismiss="modal">OK</button>
              </div>

            </div>
          </div>
        </div>

   <!-- Modal -->
      <div class="modal-dialog" >

        <div class="modal-content">

            <div class="modal-body">

            <form id="reset_password_user_form">
  
                <div class="row">
                  <label class="col-sm-12">Current password</label>
                  <div class="col-sm-12">
                    <input type="password" name="current_password" id="current_password" rows="2" class="form-control" >

                  </div>
                </div>

                <div class="row">
                  <label class="col-sm-12">New password:</label>
                  <div class="col-sm-12">
                    <input type="password" name="password" id="password" rows="2" class="form-control" >
                  </div>
                </div>


                <div class="row">
                  <label class="col-sm-12">Re-enter password:</label>
                  <div class="col-sm-12">
                    <input type="password" name="password2" id="password2" rows="2" class="form-control" >
                  </div>
                </div>
               
            </form>

          </div>

          <div class="modal-footer">
            <button type="button" id="button_cancel"class="btn btn-danger" onclick="goBack()"> Cancel </button>
            <button type="button" id="button_reset" class="btn btn-success">Reset</button>
          </div>

        </div>

      </div>


      <!-- Modal -->
      <div class="modal modal-alert fade" id="basicModalNodeURL" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
          <div class="modal-dialog">

            <div class="modal-content">

              <div class="modal-header">
                <div class="modal-title col-md-10">Please specify the node URL you want to connect to:</div>
                <button type="button" class="close col-md-2" data-dismiss="modal" aria-hidden="true">&times;</button>
              </div>

              <div class="modal-body">

                <div class="row">
                  <label class="col-sm-12">Blockchain Node URL:</label>
                  <div class="col-sm-12">
                    <input type="text" name="node_url" id="node_url" rows="2" class="form-control" value="http://127.0.0.1:5000">
                  </div>
                </div>

              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Ok</button>
              </div>

            </div>

          </div>
        </div>

    <!-- Bootstrap core JavaScript -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


    <script>

    $(function () {
          $("#button_reset").click(function () {

            if(document.getElementById("password").value === document.getElementById("password2").value &&
              document.getElementById("current_password").value !== "" && 
              document.getElementById("password").value !== "" ){
            
              document.getElementById("password2").value = readCookie("username");

              var node_url=readCookie("node_url");

              $.ajax({
                url: node_url + "/reset_password/user",
                type: "POST",
                dataType : 'json',
                data: $('#reset_password_user_form').serialize(),
                success: function(response){
                  var account_state = response["account"];

                  if(account_state === "exists"){
                    alert("Account exists, please select a different username");
                    document.getElementById("password").value ="";
                    document.getElementById("password2").value ="";
                  }else{
                  document.location.href="/";
                  document.cookie = "username="+response["username"];
                  document.getElementById("success_login").showModal();
                  }                  
                },
                error: function(error){
                  console.log(error);
                }
              });
            }
            else {
              alert("Passwords do not match or you did not specify all the information.");
            }
          });
      });

      function checkCookie() {
        var node_url=readCookie("node_url");
        if (node_url === null) {
          $("#basicModalNodeURL").modal('show');
          
          document.cookie = createCookie("node_url",document.getElementById("node_url").value);

        }
      }

      function readCookie(name) {
          var nameEQ = name + "=";
          var ca = document.cookie.split(';');
          for(var i=0;i < ca.length;i++) {
              var c = ca[i];
              while (c.charAt(0)==' ') {
                  c = c.substring(1,c.length);
              }
              if (c.indexOf(nameEQ) == 0) {
                  return c.substring(nameEQ.length,c.length);
              }
          }
        return null;
        }

      function createCookie(name,value,days) {
        if (days) {
            var date = new Date();
            date.setTime(date.getTime() + (days * 24 * 60 * 60 *1000));
            var expires = "; expires=" + date.toGMTString();
        } else {
            var expires = "";
        }
        document.cookie = name + "=" + value + expires + "; path=/";
      }
      
      function goBack() {
         window.history.back();
      }
    </script>



  </body>

</html>
